{%- comment -%}
*
*  Tabulate Prime Vektors ζ(s). Reference:
*  https://medium.com/cantors-paradise/the-riemann-hypothesis-explained-fa01c1f75d3f
*  
*  ----------------------+-----+-----+-----+                                    ---
*       7 --------- 1,2:1|   1 |  30 |  40 | 71 (2,3) ‹-------------@----        |
*       |                +-----+-----+-----+-----+                        |      |
*       |  8 ‹------  3:2|   1 |  30 |  40 |  90 | 161 (7) ‹---           |      5¨
*       |  |             +-----+-----+-----+-----+             |          |      |
*       |  |  6 ‹-- 4,6:3|   1 |  30 | 200 | 231 (10,11,12) ‹--|---       |      |
*       |  |  |          +-----+-----+-----+-----+             |   |      |     ---
*        --|--|-----» 7:4|   1 |  30 |  40 | 200 | 271 (13) --›    | 5®   |      |
*          |  |          +-----+-----+-----+-----+                 |      |      |
*           --|---› 8,9:5|   1 |  30 | 200 | 231 (14,15) ---------›       |      7¨
*  289        |          +-----+-----+-----+-----+-----+                  |      |
*   |          ----› 10:6|  20 |   5 |  10 |  70 |  90 | 195 (19) --› Φ   | 6®   |
*    --------------------+-----+-----+-----+-----+-----+                  |     ---
*       67 --------› 11:7|   5 |   9 |  14 (20) --------› ¤               |      |
*       |                +-----+-----+-----+                              |      |
*       |  78 ‹----- 12:8|   9 |  60 |  40 | 109 (26) «------------       |     11¨
*       |  |             +-----+-----+-----+                       |      |      |
*       |  |  86‹--- 13:9|   9 |  60 |  69 (27) «--- Δ (Rep Fork)  | 2®   |      |
*       |  |  |          +-----+-----+-----+                       |      |     ---
*       |  |   ---› 14:10|   9 |  60 |  40 | 109 (28) -------------       |      |
*       |  |             +-----+-----+-----+                              |      |
*       |   ---› 15,18:11|   1 |  30 |  40 | 71 (29,30,31,32) ----------        13¨
*  329  |                +-----+-----+-----+                                     |
*    |   ‹--------- 19:12|  10 |  60 | 70 (36) ‹--------------------- Φ          |
*     -------------------+-----+-----+                                          ---
*      786 ‹------- 20:13|  90 |  90 (38) ‹-------------- ¤                      |
*       |                +-----+-----+                                           |
*       | 618 ‹- 21,22:14|   8 |  40 |  48 (40,41) ‹----------------------      17¨
*       |  |             +-----+-----+-----+-----+-----+                  |      |
*       |  | 594 ‹- 23:15|   8 |  40 |  70 |  60 | 100 | 278 (42) «--     | 6®   |
*       |  |  |          +-----+-----+-----+-----+-----+             |    |     ---
*        --|--|-»24,27:16|   8 |  40 |  48 (43,44,45,46) ------------|----       |
*          |  |          +-----+-----+                               |           |
*           --|---› 28:17| 100 | 100   (50) ------------------------»           19¨
*  168        |          +-----+                                                 |
*  |         102 -› 29:18| 50  | 50(68) ---------> Δ                             |
*  ----------------------+-----+                                                ---
*
{%- endcomment -%}
<table border="1">
  <tr>
    <td width="100">id</td>
    <td width="100">num</td>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
  </tr>
{%- assign MAX = 10000                    -%}
{%- assign MAX_SQRT = 100                 -%}

{%- assign id = 1                         -%}
{%- assign sqrt = 2                       -%}

{%- for num in (3 .. MAX)                 -%}
{%-   assign mod = num | modulo: 2        -%}
{%-   if mod == 0                         -%}
{%-     continue                          -%}
{%-   endif                               -%}

{%-   assign bad = false                  -%}

{%-   for i in (sqrt .. MAX_SQRT)         -%}
{%-     assign pow = i | times: i         -%}
{%-     if pow >= num                     -%}
{%-       assign sqrt = i                 -%}
{%-       break                           -%}
{%-     endif                             -%}
{%-   endfor                              -%}

{%-   for i in (3 .. sqrt)                -%}
{%-     assign mod = num | modulo: i      -%}
{%-     if mod == 0                       -%}
{%-       assign bad = true               -%}
{%-       break                           -%}
{%-     endif                             -%}
{%-   endfor                              -%}

{%-   if bad                              -%}
{%-     continue                          -%}
{%-   endif                               -%}

{%-   assign id = id | plus: 1            -%}
  <tr>
    <td>{{- id -}}</td>
    <td>{{- num -}}</td>
  </tr>
{%- endfor                                -%}

</table>
