		<title>{% if page.category %}{{ categorycase }}: {{ page.title | capitalize }} | Courtesy of eQuantum Project{% elsif page.title %}{{ page.title }} | eQuantum Project - System Mapping and Definition{% else %}eQuantum Project | A Unique Mapping System - Open Source{% endif %}</title>
