
		<!-- browser -->
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="/js/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
		<script src="/js/owl.carousel.js"></script>
		<script src="/js/camera.js"></script>
		<!--[if lt IE 9]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
					 height="42" width="820"
					 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
			</a>
		</div>
		<script src="/js/html5shiv.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="/css/ie.css">
		<![endif]-->