		<header id="header">
			<div id="stuck_container">
				<div class="container">
					<div class="row">
						<div class="grid_12">
							<div class="brand put-left">
								<h1><a href="/"><img src="/images/logo.png" alt="eQuantum Project | A Unique Kind of Mapping System - Open Source"/></a></h1>
							</div>
							<nav class="nav put-right">
								<ul class="sf-menu">
									{%- include core/parts_.liquid %}
	                                <li><a href="/about" id={{ id }} title="{{ array | jsonify }}">About</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
