
		<header id="header">
			<div id="stuck_container">
				<div class="container">
					<div class="row">
						<div class="grid_12">
							<div class="brand put-left">
								<h1><a href="/"><img src="/images/logo.png" alt="eQuantum Project | A Unique Kind of Mapping System - Open Source"/></a></h1>
							</div>
							<nav class="nav put-right">
								<ul class="sf-menu">
									<li{% if site.baseurl == "" %} class="current"{% endif %}><a href="/">Home</a>
{% include sequence.html %}
									<li{% if site.baseurl == "/about" %} class="current"{% endif %}><a href="/about">About</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
