{% comment %} 10+1=11  {% endcomment %}

{%-   if order == 11                -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=11 %}</ul>
{%        include tabs.liquid size=10 %}</li>
{%        include tabs.liquid size=10 %}<li><a href="/lexer" id={{ order }} title="{{ lexer }}: Spin 7 to 109 via 30 of 1+29 (10th prime)">Lexer</a>
{%        include tabs.liquid size=11 %}<ul>
{%-     endcapture                          -%}

{% comment %} 29+1=30 {% endcomment %}

{%-   elsif order == 30             -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=11 %}</ul>
{%        include tabs.liquid size=10 %}</li>
{%        include tabs.liquid size=10 %}<li><a href="/parser" id={{ order }} title="{{ parser }}: Spin 13 to 43 via 139=109+30 (1st-step of 36 on the 1st-layer)">Parser</a>
{%        include tabs.liquid size=11 %}<ul>
{%-     endcapture                          -%}

{% comment %} 109+1=110 {% endcomment %}

{%-   elsif order == 110                       -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=11 %}</ul>
{%        include tabs.liquid size=10 %}</li>
{%        include tabs.liquid size=10 %}<li><a href="/grammar" id={{ order }} title="{{ grammar }}: Spin 19 of (43 to 89) via 169=139+30 (2nd-step of 36 on the 2nd-layer)">Grammar</a>
{%        include tabs.liquid size=11 %}<ul>
{%-     endcapture                          -%}

{%-   endif                                 -%}

{%- comment %}10+29+109+(109-100)²+100x10=π(10000){% endcomment -%}

{%-   capture note                          -%}
({{ num }}){{ tag }}
{%-   endcapture                            -%}
{%- assign array = current | strip | newline_to_br | strip_newlines | split: "<br />"  -%}
{%-   capture title                         -%}
[{{ eq | default: 1 }};{{ expanse | default: 1 }};{{ weight | default: 1 }};{{ width | default: 1 }}] 
{%-   endcapture                            -%}
{%-   capture current                       -%}
{{      current                              }}
{%        include tabs.liquid size=11 %}<li><a href="/" id={{ order }} title="{{ title }}">{{ note }}</a></li>
{%-   endcapture                            -%}
{%-   continue                              -%}
