{%- capture tab -%}
{% include tabs.liquid size=11 %}
{%- endcapture -%}

{%- capture node -%}
<li><a href="/">[1;{{ size }}]</a></li>
{%- endcapture -%}

{%- capture current -%}
{{ current }}
{{ tab }}{{ node }}
{%- endcapture -%}
