{%- capture tab -%}
{% include tabs.liquid size=11 %}
{%- endcapture -%}

{%- capture node -%}
{{ tab }}<li><a href="/">{{ size }}</a></li>
{%- endcapture -%}

{%- capture current -%}
{{ current }}
{{ node }}
{%- endcapture -%}
