{%- comment %}
10+29+109+(109-100)²+100x10=π(10000)
{%- assign strip = links | strip | newline_to_br | strip_newlines | split: "<br />"  -%}
{% endcomment -%}

{%-  assign title = '('
       | append: order
       | append: ')'
       | append: tag                        -%}

{%-  assign stage = '['
       | append: eq
       | append: ';'
       | append: expanse
       | append: ';'
       | append: weight
       | append: ';'
       | append: prime
       | append: ']'                        -%}

{%-  assign link = '<li>'                   -%}
{%-  assign link = link
       | append: '<a href="'
       | append: baseurl
       | append: '" id='
       | append: width
       | append: ' title="'
       | append: stage
       | append: '">'
       | append: title
       | append: '</a></li>'                -%}

{%-  capture links                          -%}
{{     links                                 }}
{%     include tabs.liquid size=14 %}{{ link }}
{%-  endcapture                             -%}

