{%-  assign title = '('
       | append: width
       | append: ') '
       | append: order
       | append: tag                        -%}

{%-  assign stage = '['
       | append: num
       | append: ';'
       | append: order
       | append: ';'
       | append: width
       | append: ';'
       | append: weight
       | append: ']'                        -%}

{%-  assign details = '['
       | append: expanse
       | append: ';'
       | append: property
       | append: ']('
       | append: layer
       | append: ')'                        -%}

{%-  assign list = '<li data-id="'
       | append: stage
       | append: '"'                       -%}

{%-  assign node = list
       | append: '><a href="'
       | append: baseurl
       | append: '" id='
       | append: width
       | append: ' aria-details="'
       | append: details
       | append: '">'
       | append: title
       | append: '</a></li>'                -%}

{%-  capture nodes                          -%}
{{     nodes                                 }}
{%     include tabs.liquid size=14 %}{{ node }}
{%-  endcapture                             -%}

