{%-  assign title = '('
       | append: order
       | append: ')'
       | append: tag                        -%}

{%-  assign stage = '['
       | append: eq
       | append: ';'
       | append: expanse
       | append: ';'
       | append: weight
       | append: ';'
       | append: num
       | append: ']'                        -%}

{%-  assign node = '<li>'                   -%}
{%-  assign node = node
       | append: '<a href="'
       | append: baseurl
       | append: '" id='
       | append: width
       | append: ' title="'
       | append: stage
       | append: '">'
       | append: title
       | append: '</a></li>'                -%}

{%-  capture nodes                          -%}
{{     nodes                                 }}
{%     include tabs.liquid size=14 %}{{ node }}
{%-  endcapture                             -%}

