{%- assign id = '' | split: ','             -%}
{%- assign arm = '' | split: ','            -%}
{%- assign bond = '' | split: ','           -%}
{%- assign parts = '' | split: ','          -%}

{%- assign primes = '' | split: ','         -%}
{%- assign primes = primes | push: 2        -%}

{%- capture current -%}
<li><a href="/">Home</a>
{% include tabs.liquid size=10 %}<ul>
{%- endcapture -%}

{%- assign n = include.n | default: 100     -%}
{%- assign j = n | times: n                 -%}
{%- assign min = include.min | default: 2   -%}
{%- assign max = include.max | default: 29  -%}

{%- for num in (3 .. max)                   -%}
{%-   assign mod = num | modulo: 2          -%}
{%-   if mod == 0                           -%}
{%-     continue                            -%}
{%-   endif                                 -%}

{%-   for i in (min .. n)                   -%}
{%-     assign pow = i | times: i           -%}
{%-     if pow >= num                       -%}
{%-       assign min = i                    -%}
{%-       break                             -%}
{%-     endif                               -%}
{%-   endfor                                -%}

{%-   assign bad = false                    -%}
{%-   for i in (3 .. min)                   -%}
{%-     assign mod = num | modulo: i        -%}
{%-     if mod == 0                         -%}
{%-       assign bad = true                 -%}
{%-       break                             -%}
{%-     endif                               -%}
{%-   endfor                                -%}

{%-   if bad                                -%}
{%-     continue                            -%}
{%-   endif                                 -%}

{%-   assign array = '' | split: ','        -%}
{%-   assign primes = primes | push: num    -%}
{%-   assign size = primes | size           -%}

{%-   include core/_parts.liquid            -%}

{%-   if primes contains size               -%}
{%-     assign parts = parts | push: size   -%}

{%-     assign width = parts | size         -%}
{%-     if parts contains width             -%}
{%-       assign bond = bond | push: width  -%}

{%-       assign weight = bond | size       -%}
{%-       if bond contains weight           -%}
{%-         assign arm = arm | push: weight -%}

{%-	       assign expanse = arm | size      -%}
{%-	       if arm contains expanse          -%}
{%-	         assign id = id | push: expanse -%}

{%-	       endif                            -%}
{%-	     endif                              -%}
{%-     endif                               -%}
{%-   endif                                 -%}

{%-   assign array = array | push: id       -%}
{%-   assign array = array | push: arm      -%}
{%-   assign array = array | push: bond     -%}
{%-   assign array = array | push: parts    -%}

{%- endfor                                  -%}
{%- capture current -%}
{{ current }}
{% include tabs.liquid size=10 %}</ul>
{% include tabs.liquid size=9 %}</li>
{%- endcapture -%}
{{ current }}