{%- assign id = 1                           -%}
{%- assign io = '' | split: ','             -%}
{%- assign arm = '' | split: ','            -%}
{%- assign bond = '' | split: ','           -%}
{%- assign parts = '' | split: ','          -%}
{%- assign primes = '' | split: ','         -%}
{%- assign primes = primes | push: 2        -%}

{%- capture li                              -%}
<a href="/" id=1 title="[1;1;1]">Home</a>
{%- endcapture                              -%}
{%- capture current                          %}
{%    include tabs.liquid size=9 %}<li>{{ li }}
{%    include tabs.liquid size=10 %}<ul>
{%- endcapture                              -%}

{%- assign n = include.n | default: 100     -%}
{%- assign j = n | times: n                 -%}
{%- assign min = include.min | default: 2   -%}
{%- assign max = include.max | default: 109   -%}

{%- for num in (3 .. max)                   -%}
{%-   assign mod = num | modulo: 2          -%}
{%-   if mod == 0                           -%}
{%-     continue                            -%}
{%-   endif                                 -%}

{%-   for i in (min .. n)                   -%}
{%-     assign pow = i | times: i           -%}
{%-     if pow >= num                       -%}
{%-       assign min = i                    -%}
{%-       break                             -%}
{%-     endif                               -%}
{%-   endfor                                -%}

{%-   assign bad = false                    -%}
{%-   for i in (3 .. min)                   -%}
{%-     assign mod = num | modulo: i        -%}
{%-     if mod == 0                         -%}
{%-       assign bad = true                 -%}
{%-       break                             -%}
{%-     endif                               -%}
{%-   endfor                                -%}

{%-   if bad                                -%}
{%-     continue                            -%}
{%-   endif                                 -%}

{%-   assign primes = primes | push: num    -%}
{%-   assign order = primes | size          -%}

{%-   if order <= 10                        -%}
{%-     assign id = order                   -%}
{%-     include core/_parts.liquid          -%}
{%-   endif                                 -%}

{%-   if primes contains order              -%}
{%-     assign parts = parts | push: order  -%}
{%-     assign width = parts | size         -%}

{%-     if width < 10                       -%}
{%-       assign id = id | plus: 1          -%}
{%-     endif                               -%}
{%-   endif                               -%}
{%-   include core/_parts.liquid        -%}

{%-     if parts contains width             -%}
{%-       assign bond = bond | push: width  -%}
{%-       assign weight = bond | size       -%}

{%-       if weight < 10                      -%}
{%-         assign id = id | plus: bond      -%}
{%-         include core/_parts.liquid        -%}
{%-       endif                               -%}

{%-       if bond contains weight           -%}
{%-         assign arm = arm | push: weight -%}
{%-	        assign expanse = arm | size     -%}

{%-         if expanse < 10                      -%}
{%-           assign id = id | plus: expanse      -%}
{%-           include core/_parts.liquid        -%}
{%-         endif                               -%}

{%-	        if arm contains expanse         -%}
{%-	          assign io = io | push: expanse -%}
{%-	          assign eq = io | size     -%}

{%-           if eq < 10                      -%}
{%-             assign id = id | plus: eq      -%}
{%-             include core/_parts.liquid        -%}
{%-           endif                               -%}

{%-	        endif                            -%}
{%-	      endif                            -%}
{%-	    endif                              -%}

{%- endfor                                  -%}
{%-     capture current                     -%}
{{        current                            }}
{%        include tabs.liquid size=10 %}</ul>
{%        include tabs.liquid size=9 %}</li>
{%-     endcapture                          -%}
{{  current -}}
