.menu-sm {
  position: fixed;

  &.shift {
    right: 0;
  }
}

.addons-wrap {
  left: 0;
  @extend .menu-sm;
}

.content-wrap {
  &.shift {
    left: 0;
    bottom: 0;
    position: fixed;
	width: 687px !important;
  }
}

.sidebar-wrap {
  top: 45px;
  bottom: 0;
  max-height: 100%;
  width: $theme-menu-width-sm;

  @extend .menu-sm;

  .sidebar > :last-child {
    margin-bottom: 5em;
  }
}

@include breakpoint(md) {
  .menu-md {
    width: $theme-menu-width;
  }

  .sidebar-wrap {
    right: 0;
    @extend .menu-md;

    .sidebar {
      // 20px for scroll
      width: $theme-menu-width + 20px;

      .header,
      .toctree {
        width: $theme-menu-width;
      }
    }
  }

  .addons-wrap {
    width: 100%;
  }

  .content-wrap {
    width: 687px !important;

    &.shift {
      position: relative;
      left: 0;
      min-width: 0;
    }
  }
}

@include breakpoint(xl) {
  .content-wrap {
    width: 687px !important;
  }
}