.menu-sm {
  position: fixed;
  bottom: 0;
  right: 0;
  width: $theme-menu-width;
  max-height: 100%;

  &.shift {
    left: 0;
  }
}

.addons-wrap {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
}

.content-wrap {
  top: 45px;
  margin-right: $theme-menu-width;
}

.sidebar-wrap {
  top: 45px;
  @extend .menu-sm;
  
  .sidebar > :last-child {
    margin-bottom: 5em;
  }
}
