        <!-- jQuery https://code.jquery.com/ -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <!-- Bootstrap CDN https://blog.getbootstrap.com/2014/02/13/bootstrap-3-1-1-released/ -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
        <script src="scroll/jquery.simplyscroll.min.js"></script>
        <script src="colorbox/jquery.colorbox-min.js"></script>
        <script src="prefixfree/prefixfree.min.js"></script>
        <script src="stickUp/js/stickUp.min.js"></script>
        <script src="slick/slick/slick.min.js"></script>
        <script src="underscore/underscore-min.js"></script>
        <script src="sequence/js/svginnerhtml.min.js"></script>
        <script src="sequence/js/snap.svg-min.js"></script>
        <script src="sequence/js/webfont.js"></script>
        <script src="ace-builds/src-min/ace.js"></script>
        <script src="flowchart/raphael-min.js"></script>
        <script src="route/d3.min.js"></script>
        <script src="cards/widget.js"></script>
        <script src="function.js"></script>
        <script src="disqus.js"></script>
        <script src="app.js"></script>
