       <div id="chetabahana-{{ page.title | downcase }}" class="chetabahana-{{ page.title | downcase }}">
            <div class="container">
                <div class="templatemo-line-header" >
                   <div class="text-center">
                     <h4>{{ page.title }}</h4>
                   </div>
                </div>
                <div class="clearfix"></div>    
                <div id="disqus_thread"></div>
            </div><!-- /.container -->
        </div><!-- /{{ page.title }}-->