   <div class="chetabahana-{{ item.title }}" id="chetabahana-{{ item.title }}">
			<div class="container">
				<div class="media-container-row content">
					<div class="col-md-2 col-sm-4">
						<div class="mb-3 img-logo">
							<a href="https://chetabahana.com/">
								  <img src="logo.png" alt="Chetabahana">
							</a>
						</div>
						<p class="mbr-fonts-style foot-logo display-7">
							CHETABAHANA
						</p>
					</div>
					<div class="col-md-3 col-sm-4">
						<p class="mb-4 mbr-fonts-style foot-title display-7">
							RECENT NEWS
						</p>
						<p class="mbr-text mbr-links-column mbr-fonts-style display-7">
							<a href="https://chetabahana.com/info/tentang-89.html" class="text-black">About us</a>
							<br><a href="https://www.juicer.io/chetabahana" class="text-black">Social Feeds</a>
							<br><a href="https://sites.google.com/site/chetabahana/" class="text-black">Situs Google</a>
							<br><a href="https://www.youtube.com/channel/UCZlPku9beXzdROCknYLuRNg" class="text-black">Youtube Channel</a>
							<br><a href="http://chetabahana-project.appspot.com/" class="text-black">Development</a>
						</p>
					</div>
					<div class="col-md-3 col-sm-4">
						<p class="mb-4 mbr-fonts-style foot-title display-7">
							CATEGORIES
						</p>
						<p class="mbr-text mbr-fonts-style mbr-links-column display-7">
							<a href="http://chetabahana.business.site/" class="text-black">Business</a>
							<br><a href="https://chetabahana.blogspot.com/" class="text-black">Kelola Toko</a>
							<br><a href="https://chetabahana.wordpress.com/" class="text-black">eShop SEO</a>
							<br><a href="https://chetabahana.github.io/" class="text-black">Project</a>
							<br><a href="https://github.com/MarketLeader" class="text-black">Bagan</a>
						</p>
					</div>
					<div class="col-md-4 col-sm-12">
						<p class="mb-4 mbr-fonts-style foot-title display-7">
							SUBSCRIBE
						</p>
						<p class="mbr-text form-text mbr-fonts-style display-7">
							Get monthly updates and free resources.
						</p>
						<div class="media-container-column" data-form-type="formoid">
							<div data-form-alert="" hidden="" class="align-center">
								Thanks for filling out the form!
							</div>
							<span data-sumome-listbuilder-embed-id="6e8c7064e56c8f6c32f91d80043f8af9a4f91a709403e427b6e02089c1d706bf"></span>
						</div>

					</div>
				</div>
				<div class="footer-lower">
					<div class="media-container-row">
						<div class="col-sm-12">
							<hr>
						</div>
					</div>
					<div class="media-container-row">
						<div class="col-sm-6 copyright">
							<p class="mbr-text mbr-fonts-style display-7">
								Copyright © 2018 <a class="link_orange" href="https://github.com/MarketLeader">Chetabahana Project</a>
							</p>
						</div>
						<div class="col-md-6">
							<div class="social-list align-right">
								<div class="soc-item">
									<a href="https://twitter.com/chetabahana" target="_blank">
										<span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
									</a>
								</div>
								<div class="soc-item">
									<a href="https://www.facebook.com/pages/chetabahana/572067159792506" target="_blank">
										<span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
									</a>
								</div>
								<div class="soc-item">
									<a href="https://www.youtube.com/channel/UCZlPku9beXzdROCknYLuRNg?view_as=subscriber" target="_blank">
										<span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
									</a>
								</div>
								<div class="soc-item">
									<a href="https://instagram.com/chetabahana" target="_blank">
										<span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
									</a>
								</div>
								<div class="soc-item">
									<a href="https://plus.google.com/104472163425461331070" target="_blank">
										<span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
									</a>
								</div>
								<div class="soc-item">
									<a href="https://www.behance.net/chetabahana" target="_blank">
										<span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
									</a>
								</div>
								<div class="soc-item">
									<a href="https://feeds.feedburner.com/~u/10446948834970532213" target="_blank">
										<span class="socicon-rss socicon mbr-iconfont mbr-iconfont-social"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="height30"></div>
			<a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Back To Top</a>
			<div class="height30"></div>
	</div><!-- /{{ item.title }}-->			
