        <title>{{ site.slogan }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="{{ site.keywords }}" />
        <meta name="description" content="{{ site.description }}" />

        <link type="application/feed+json" rel="alternate" href="{{ site.json_link }}" title="Project Maps" />
        {% feed_meta %}

        <!-- Page hiding snippet (recommended) -->
        <!-- style>.async-hide { opacity: 0 !important} </style -->
        <!-- script>
        (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);
        })(window,document.documentElement,'async-hide','dataLayer',4000,{'GTM-KKD75D8':true});
        </script -->

        <!-- Google Tag Manager -->
        <!-- script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KKD75D8');</script -->
        <!-- script type="text/javascript" src="https://www.google.com/jsapi"></script -->
        <!-- script type="text/javascript" src="https://apis.google.com/js/platform.js" async defer>{lang: 'id'}</script -->
        <!-- End Google Tag Manager -->

        <!-- Urbanic Template http://www.templatemo.com/templates/templatemo_395_urbanic/ -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/icon/ms-icon-144x144.png">

        <link rel="shortcut icon" href="favicon.ico">
        <link rel="manifest" href="/images/icon/manifest.json">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/icon/android-icon-192x192.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/images/icon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-icon-180x180.png">

         <!-- Default and Custom CSS -->
        <link rel="stylesheet" type="text/css" media="screen" href="styles/core.css">
        <link rel="stylesheet" type="text/css" media="screen" href="slick/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="slick/slick/slick-theme.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="grammar/diagrams/diagrams.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="scroll/jquery.simplyscroll.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="sequence/css/sequence-diagram-min.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="tree/test/fixtures/three.graphql/graphiql.css"/>
 
        <!-- jQuery UI CDN: Latest compiled CSS and Optional theme -->
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- Bootstrap CDN: Latest compiled and minified CSS and Optional theme -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Reference: https://blog.getbootstrap.com/2014/02/13/bootstrap-3-1-1-released/ -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- Web Font Embed https://cdnjs.com/libraries/font-awesome -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <!-- Google Fonts https://fonts.google.com/ -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>