{%- assign my_roots = site.data.roots -%}
<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="brand put-left">
                        <h1><a href="/"><img src="/images/logo.png" alt="eQuantum Project | A Unique Kind of Mapping System - Open Source"/></a></h1>
                    </div>
                    <nav class="nav put-right">
                        <ul class="sf-menu">
                            <li{% if site.baseurl == "" %} class="current"{% endif %}><a href="/">Home</a>
                                <ul>
                                    <li><a href="/concept">[1]19</a>
                                        <ul>
                                            <li><a href="/map/routine">(1){{ my_roots[2].key }}</a></li>
                                            <li><a href="/map/spreading">(2){{ my_roots[3].key }}</a></li>
                                            <li><a href="/map/employment">(3){{ my_roots[5].key }}</a></li>
                                            <li><a href="/map/merging">(4){{ my_roots[7].key }}</a></li>
                                        </ul>
                                    </li>
                                     <li><a href="/sites">[2]17</a>
                                        <ul>
                                            <li><a href="/sites/introduction">(5){{ my_roots[11].key }}</a></li>
                                            <li><a href="/sites/repository">(6){{ my_roots[13].key }}</a></li>
                                            <li><a href="/sites/portraying">(7){{ my_roots[17].key }}</a></li>
                                            <li><a href="/sites/nature">(8){{ my_roots[19].key }}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/news">[3]13-1</a>
                                        <ul>
                                            <li><a href="/news/reading">(9){{ my_roots[23].key }}</a></li>
                                            <li><a href="/news/writing">(10){{ my_roots[29].key }}</a></li>
                                        </ul>
                                    </li>
                               </ul>
							</li>
                            <li{% if site.baseurl == "/lexer" %} class="current"{% endif %}><a href="/lexer">Lexer</a>
                                <ul>
                                    <li><a href="/map">[4]11</a>
                                        <ul>
                                            <li><a href="/map/settlement">(11){{ my_roots[31].key }}</a></li>
                                            <li><a href="/map/comparison">(12){{ my_roots[37].key }}</a></li>
                                            <li><a href="/map/overall">(13){{ my_roots[41].key }}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/sites">[5]7+12</a>
                                        <ul>
                                            <li><a href="/sites/route">(14){{ my_roots[43].key }}</a></li>
                                            <li><a href="/sites/channel">(15){{ my_roots[47].key }}</a></li>
                                            <li><a href="/sites/feedback">(16){{ my_roots[53].key }}</a></li>
                                            <li><a href="/sites/recording">(17){{ my_roots[59].key }}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/status">[6]5+13</a>
                                        <ul>
                                            <li><a href="/status/nature">(18){{ my_roots[61].key }}</a></li>
                                            <li><a href="/status/info">(19){{ my_roots[67].key }}</a></li>
                                            <li><a href="/status/rating">(20){{ my_roots[71].key }}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/news">[7]18+13+12</a>
                                        <ul>
                                            <li><a href="/news/reading">(21){{ my_roots[73].key }}</a></li>
                                            <li><a href="/news/writing">(22){{ my_roots[79].key }}</a></li>
                                            <li><a href="/news/scripting">(23){{ my_roots[83].key }}</a></li>
                                            <li><a href="/news/encoding">(24){{ my_roots[89].key }}</a></li>
                                            <li><a href="/news/key">(25){{ my_roots[97].key }}</a></li>
                                            <li><a href="/news/formation">(26){{ my_roots[101].key }}</a></li>
                                            <li><a href="/news/mapping">(27){{ my_roots[103].key }}</a></li>
                                            <li><a href="/news/formation">(28){{ my_roots[107].key }}</a></li>
                                            <li><a href="/news/mapping">(29){{ my_roots[109].key }}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li{% if site.baseurl == "/parser" %} class="current"{% endif %}><a href="/parser">Parser</a>
                                <ul>
                                    <li><a href="/maps/script">[8]10,11,12,13</a>
                                        <ul>
                                            <li><a href="/news/reading">(30){{ my_roots[110].key }}</a></li>
                                            <li><a href="/news/writing">(31){{ my_roots[111].key }}</a></li>
                                            <li><a href="/news/scripting">(32){{ my_roots[112].key }}</a></li>
                                            <li><a href="/news/encoding">(33){{ my_roots[113].key }}</a></li>
                                        </ul>
									</li>
                                    <li><a href="/feed/work">[9]14,15</a>
                                        <ul>
                                            <li><a href="/news/scripting">(34){{ my_roots[114].key }}:3,1000-50,2x(12+13)</a></li>
                                            <li><a href="/news/encoding">(35){{ my_roots[115].key }}:3</a></li>
                                            <li><a href="/news/scripting">(36){{ my_roots[116].key }}:6</a></li>
                                            <li><a href="/news/encoding">(37){{ my_roots[117].key }}:6</a></li>
                                            <li><a href="/news/scripting">(38){{ my_roots[118].key }}:6</a></li>
                                            <li><a href="/sites/recording">(39){{ my_roots[119].key }}:6</a></li>
                                        </ul>
									</li>
                                    <li><a href="/parser/site">[10]20</a>
                                        <ul>
                                            <li><a href="/sites/recording">(40){{ my_roots[120].key }}:6</a></li>
                                            <li><a href="/news/reading">(41){{ my_roots[121].key }}:6</a></li>
                                            <li><a href="/news/writing">(42){{ my_roots[122].key }}:6</a></li>
                                            <li><a href="/news/scripting">(43){{ my_roots[123].key }}:6</a></li>
                                            <li><a href="/news/encoding">(44){{ my_roots[124].key }}:6</a></li>
                                            <li><a href="/news/scripting">(45){{ my_roots[125].key }}:6</a></li>
                                        </ul>
									</li>
                                    <li><a href="/tunnel/social">[11]26~32(7x)</a>
                                        <ul>
                                            <li><a href="/news/encoding">(46){{ my_roots[126].key }}:7,6</a></li>
                                            <li><a href="/news/encoding">(47){{ my_roots[127].key }}:6,9,10</a></li>
                                            <li><a href="/news/scripting">(48){{ my_roots[128].key }}:7</a></li>
                                            <li><a href="/news/encoding">(49){{ my_roots[129].key }}:7</a></li>
                                            <li><a href="/news/encoding">(50){{ my_roots[130].key }}:7</a></li>
                                            <li><a href="/news/scripting">(51){{ my_roots[131].key }}:6</a></li>
                                            <li><a href="/news/encoding">(52){{ my_roots[132].key }}:6,7</a></li>
                                            <li><a href="/news/encoding">(53){{ my_roots[133].key }}:7</a></li>
                                            <li><a href="/news/scripting">(54){{ my_roots[134].key }}:7</a></li>
                                            <li><a href="/news/encoding">(55){{ my_roots[135].key }}:7</a></li>
                                        </ul>
									</li>
                                    <li><a href="/classes/project">[12]36</a>
                                        <ul>
                                            <li><a href="/news/encoding">(56){{ my_roots[136].key }}:13</a></li>
                                            <li><a href="/news/scripting">(57){{ my_roots[137].key }}:13</a></li>
                                        </ul>
									</li>
                                    <li><a href="/quantum">[13]38,39</a>
                                        <ul>
                                            <li><a href="/news/scripting">(58){{ my_roots[138].key }}:4,5</a></li>
                                            <li><a href="/news/scripting">(59){{ my_roots[139].key }}=109+30:14</a></li>
                                        </ul>
									</li>
                                </ul>
                                <!--ul>
                                    <li><a href="/Cloud-Site-API">Project Introduction</a></li>
                                    <li><a href="/Google-Ads-API">Site Rating</a></li>
                                    <li><a href="/Toko-Chetabahana">Monitoring Script</a></li>
                                    <li><a href="/skema">Team Work</a></li>
                                    <li><a href="/KeepFit">Social Coding</a></li>
                                    <li><a href="/world">Networking</a></li>
                                </ul-->
                            </li>
                            <li{% if site.baseurl == "/grammar" %} class="current"{% endif %}><a href="/grammar">Grammar</a>
                                <ul>
                                    <li><a href="/attribute">[14]40,41</a>
                                        <ul>
                                            <li><a href="/news/encoding">(60){{ my_roots[140].key }}</a></li>
                                            <li><a href="/news/scripting">(61){{ my_roots[141].key }}</a></li>
                                            <li><a href="/news/encoding">(62){{ my_roots[142].key }}</a></li>
                                            <li><a href="/news/scripting">(63){{ my_roots[143].key }}</a></li>
                                            <li><a href="/news/scripting">(64){{ my_roots[144].key }}</a></li>
                                            <li><a href="/news/scripting">(65){{ my_roots[145].key }}</a></li>
                                            <li><a href="/news/scripting">(66){{ my_roots[146].key }}</a></li>
                                            <li><a href="/news/scripting">(67){{ my_roots[147].key }}</a></li>
                                        </ul>
									</li>
                                    <li><a href="/artifacts">[15]42</a>
                                        <ul>
                                            <li><a href="/sites/recording">(68){{ my_roots[148].key }}</a></li>
                                            <li><a href="/sites/recording">(69){{ my_roots[149].key }}</a></li>
                                        </ul>
									</li>
                                    <li><a href="/method">[16]43,44,45,46</a>
                                        <ul>
                                            <li><a href="/news/encoding">(70){{ my_roots[150].key }}</a></li>
                                            <li><a href="/news/scripting">(71){{ my_roots[151].key }}</a></li>
                                            <li><a href="/news/encoding">(72){{ my_roots[152].key }}</a></li>
                                        </ul>
									</li>
                                    <li><a href="/model">[17]50</a>
                                        <ul>
                                            <li><a href="/news/scripting">(73){{ my_roots[153].key }}</a></li>
                                            <li><a href="/news/scripting">(74){{ my_roots[154].key }}</a></li>
                                            <li><a href="/news/scripting">(75){{ my_roots[155].key }}</a></li>
                                            <li><a href="/news/scripting">(76){{ my_roots[156].key }}</a></li>
                                        </ul>
									</li>
                                    <li><a href="/trace">[18]68</a>
                                        <ul>
                                            <li><a href="/news/scripting">(77){{ my_roots[157].key }}</a></li>
                                            <li><a href="/sites/recording">(78){{ my_roots[158].key }}</a></li>
                                            <li><a href="/sites/recording">(79){{ my_roots[159].key }}</a></li>
                                        </ul>
									</li>
                                    <li><a href="/track">[19]69</a>
                                        <ul>
                                            <li><a href="/news/encoding">(80){{ my_roots[160].key }}</a></li>
                                            <li><a href="/news/scripting">(81){{ my_roots[161].key }}</a></li>
                                            <li><a href="/news/encoding">(82){{ my_roots[162].key }}</a></li>
                                            <li><a href="/news/scripting">(83){{ my_roots[163].key }}</a></li>
                                            <li><a href="/news/scripting">(84){{ my_roots[164].key }}</a></li>
                                            <li><a href="/news/scripting">(85){{ my_roots[165].key }}</a></li>
                                            <li><a href="/news/scripting">(86){{ my_roots[166].key }}</a></li>
                                            <li><a href="/news/scripting">(87){{ my_roots[167].key }}</a></li>
                                            <li><a href="/sites/recording">(88){{ my_roots[168].key }}</a></li>
                                            <li><a href="/sites/recording">(89){{ my_roots[169].key }}=139+30</a></li>
                                        </ul>
									</li>
                                </ul>
                            </li>
                            <li{% if site.baseurl == "/about" %} class="current"{% endif %}><a href="/about">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>