<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="brand put-left">
                        <h1><a href="/"><img src="/images/logo.png" alt="eQuantum Project | A Unique Kind of Mapping System - Open Source"/></a></h1>
                    </div>
                    <nav class="nav put-right">
                        <ul class="sf-menu">
                            <li {% if site.baseurl == "" %}class="current"{% endif %}><a href="/">Home</a>
                                <ul>
                                    <li><a href="/map">Site Mapping & Feeding (M+F)</a>
                                        <ul>
                                            <li><a href="/map/routine">Routine</a></li>
                                            <li><a href="/map/spreading">Spreading</a></li>
                                            <li><a href="/map/employment">Employment</a></li>
                                            <li><a href="/map/merging">Merging</a></li>
                                            <li><a href="/map/settlement">Settlement</a></li>
                                            <li><a href="/map/comparison">Comparison</a></li>
                                            <li><a href="/map/overall">Overall</a></li>
                                        </ul>
                                    </li>
                                     <li><a href="/sites">Business Core Building (C1)</a>
                                        <ul>
                                            <li><a href="/sites/introduction">Introduction</a></li>
                                            <li><a href="/sites/repository">Repository</a></li>
                                            <li><a href="/sites/portraying">Portraying</a></li>
                                            <li><a href="/sites/nature">Nature</a></li>
                                            <li><a href="/sites/route">Route</a></li>
                                            <li><a href="/sites/channel">Channel</a></li>
                                            <li><a href="/sites/feedback">Feedback</a></li>
                                            <li><a href="/sites/recording">Recording</a></li>
                                            <li><a href="/sites/conclusion">Conclusion</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/news">Project Core Networking (C2)</a>
                                        <ul>
                                            <li><a href="/news/reading">Reading</a></li>
                                            <li><a href="/news/writing">Writing</a></li>
                                            <li><a href="/news/scripting">Scripting</a></li>
                                            <li><a href="/news/encoding">Encoding</a></li>
                                            <li><a href="/news/key">Key</a></li>
                                            <li><a href="/news/formation">Formation</a></li>
                                            <li><a href="/news/mapping">Mapping</a></li>
                                        </ul>
                                    </li>
                               </ul>
							</li>
                            <li {% if site.baseurl == "/theme" %}class="current"{% endif %}><a href="/theme">Theme</a>
                                <ul>
                                    <li><a href="/map">The Lexer of M+F (168)</a>
                                        <ul>
                                            <li><a href="/map/routine">Routine</a></li>
                                            <li><a href="/map/spreading">Spreading</a></li>
                                            <li><a href="/map/employment">Employment</a></li>
                                            <li><a href="/map/merging">Merging</a></li>
                                            <li><a href="/map/settlement">Settlement</a></li>
                                            <li><a href="/map/comparison">Comparison</a></li>
                                            <li><a href="/map/overall">Overall</a></li>
                                        </ul>
                                    </li>
                                     <li><a href="/sites">The Parser of C1+C2 (618)</a>
                                        <ul>
                                            <li><a href="/sites/introduction">Introduction</a></li>
                                            <li><a href="/sites/repository">Repository</a></li>
                                            <li><a href="/sites/portraying">Portraying</a></li>
                                            <li><a href="/sites/nature">Nature</a></li>
                                            <li><a href="/sites/route">Route</a></li>
                                            <li><a href="/sites/channel">Channel</a></li>
                                            <li><a href="/sites/feedback">Feedback</a></li>
                                            <li><a href="/sites/recording">Recording</a></li>
                                            <li><a href="/sites/conclusion">Conclusion</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/status">The Grammar of M+F→C1+C2</a>
                                        <ul>
                                            <li><a href="/status/nature">Nature</a></li>
                                            <li><a href="/status/info">Info</a></li>
                                            <li><a href="/status/rating">Rating</a></li>
                                            <li><a href="/status/monitor">Monitor</a></li>
                                            <li><a href="/status/script">Script</a></li>
                                            <li><a href="/status/team">Team</a></li>
                                            <li><a href="/status/world">World</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/news">The Grammar of eQ19 (10143)</a>
                                        <ul>
                                            <li><a href="/news/reading">Reading</a></li>
                                            <li><a href="/news/writing">Writing</a></li>
                                            <li><a href="/news/scripting">Scripting</a></li>
                                            <li><a href="/news/encoding">Encoding</a></li>
                                            <li><a href="/news/key">Key</a></li>
                                            <li><a href="/news/formation">Formation</a></li>
                                            <li><a href="/news/mapping">Mapping</a></li>
                                        </ul>
                                    </li>
                               </ul>
                            </li>
                            <li {% if site.baseurl == "/program" %}class="current"{% endif %}><a href="/program">Program</a>
                                <ul>
                                    <li><a href="/maps/script">Project Introduction</a></li>
                                    <li><a href="/feed/work">Site Rating</a></li>
                                    <li><a href="/parser/site">Monitoring Script</a></li>
                                    <li><a href="/tunnel/social">Team Work</a></li>
                                    <li><a href="/classes/project">Social Coding</a></li>
                                    <li><a href="/quantum">Networking</a></li>
                                </ul>
                                <!--ul>
                                    <li><a href="/Cloud-Site-API">Project Introduction</a></li>
                                    <li><a href="/Google-Ads-API">Site Rating</a></li>
                                    <li><a href="/Toko-Chetabahana">Monitoring Script</a></li>
                                    <li><a href="/skema">Team Work</a></li>
                                    <li><a href="/KeepFit">Social Coding</a></li>
                                    <li><a href="/world">Networking</a></li>
                                </ul-->
                            </li>
                            <li {% if site.baseurl == "/quantum" %}class="current"{% endif %}><a href="/quantum">quantum</a>
                                <ul>
                                    <li><a href="/attribute">Attribute</a></li>
                                    <li><a href="/artifacts">Artifacts</a></li>
                                    <li><a href="/method">Method</a></li>
                                    <li><a href="/model">Model</a></li>
                                    <li><a href="/trace">Trace</a></li>
                                    <li><a href="/track">Track</a></li>
                                </ul>
                            </li>
                            <li {% if page.url == "/about" %}class="current"{% endif %}><a href="/about">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>