---
layout: tasks/compress
---

{%- include extra/rest/defaults.liquid -%}
{%- include leads/rest/defaults.liquid -%}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ direction }}">
    <head>
        {% include leads/metadata.liquid %}
        {% include leads/twitter_cards.liquid %}
        {% include leads/opengraph.liquid %}
        {% include leads/links.liquid %}
        {% include extra/rest/styles.liquid %}
        {%- include leads/title.liquid -%}
        {%- include leads/script.liquid -%}
        {%- include leads/schema.liquid -%}
        {% include leads/gtag.liquid %}
    </head>
    <body>
        {% include leads/noscript.liquid %}
        {% include templates/content.liquid %}
        {% include templates/addons.liquid %}
        {% include extra/body.html %}
        {%- include extra/rest/script.liquid %}
        {%- include leads/mermaid.liquid -%}
        {%- include leads/mathjax.liquid -%}
        {%- include leads/adsense.liquid -%}
        {%- include leads/sumo.liquid -%}
    </body>
</html>
